@font-face{
font-family:"Avenir LT W01_35 Light1475496";
src:url("Fonts/AvenirLTW01_35Light1475496.eot?#iefix");
src:url("Fonts/AvenirLTW01_35Light1475496.eot?#iefix") format("eot"),url("Fonts/AvenirLTW01_35Light1475496.woff2") format("woff2"),url("Fonts/AvenirLTW01_35Light1475496.woff") format("woff"),url("Fonts/AvenirLTW01_35Light1475496.ttf") format("truetype"),url("Fonts/AvenirLTW01_35Light1475496.svg#AvenirLTW01_35Light1475496") format("svg");
}
@font-face{
font-family:"Avenir LT W01_65 Medium1475532";
src:url("Fonts/AvenirLTW01_65Medium1475532.eot?#iefix");
src:url("Fonts/AvenirLTW01_65Medium1475532.eot?#iefix") format("eot"),url("Fonts/AvenirLTW01_65Medium1475532.woff2") format("woff2"),url("Fonts/AvenirLTW01_65Medium1475532.woff") format("woff"),url("Fonts/AvenirLTW01_65Medium1475532.ttf") format("truetype"),url("Fonts/AvenirLTW01_65Medium1475532.svg#AvenirLTW01_65Medium1475532") format("svg");
}
@font-face{
font-family:"Avenir LT W01_65 Medium1475538";
src:url("Fonts/AvenirLTW01_65Medium1475538.eot?#iefix");
src:url("Fonts/AvenirLTW01_65Medium1475538.eot?#iefix") format("eot"),url("Fonts/AvenirLTW01_65Medium1475538.woff2") format("woff2"),url("Fonts/AvenirLTW01_65Medium1475538.woff") format("woff"),url("Fonts/AvenirLTW01_65Medium1475538.ttf") format("truetype"),url("Fonts/AvenirLTW01_65Medium1475538.svg#AvenirLTW01_65Medium1475538") format("svg");
}
@font-face{
font-family:"Avenir LT W01_85 Heavy1475544";
src:url("Fonts/AvenirLTW01_85Heavy1475544.eot?#iefix");
src:url("Fonts/AvenirLTW01_85Heavy1475544.eot?#iefix") format("eot"),url("Fonts/AvenirLTW01_85Heavy1475544.woff2") format("woff2"),url("Fonts/AvenirLTW01_85Heavy1475544.woff") format("woff"),url("Fonts/AvenirLTW01_85Heavy1475544.ttf") format("truetype"),url("Fonts/AvenirLTW01_85Heavy1475544.svg#AvenirLTW01_85Heavy1475544") format("svg");
}
@font-face{
font-family:"Avenir LT W01_85 Heavy_1475550";
src:url("Fonts/AvenirLTW01_85Heavy_1475550.eot?#iefix");
src:url("Fonts/AvenirLTW01_85Heavy_1475550.eot?#iefix") format("eot"),url("Fonts/AvenirLTW01_85Heavy_1475550.woff2") format("woff2"),url("Fonts/AvenirLTW01_85Heavy_1475550.woff") format("woff"),url("Fonts/AvenirLTW01_85Heavy_1475550.ttf") format("truetype"),url("Fonts/AvenirLTW01_85Heavy_1475550.svg#AvenirLTW01_85Heavy_1475550") format("svg");
}
